.nav{
  grid-area: n;
  background-color: #7a4735;
  text-align: center;
  padding: 40px;
}
.item a{
  color: gray;
  text-decoration: none;
}

.item a:hover{
  color: white;
}
.item a.activLink{
  color: white;
}
.blockFriends{
  margin-top: 150px;
}
.friends{
  display: flex;
}

.friends a{
  text-decoration: none;
  color: white;
  margin-left: 15px;
}
.friends img{
  border-radius: 50%;
  height: 35px;
  margin-left: 15px;
}